<ion-card>
    <ion-card-header>
        <ion-card-subtitle>
            <span class="text-primary">{{ i + 1 }}. </span>
            <span class="article-source-name">{{ article.source.name }}</span>

            <div class="article-more">
                <ion-button (click)="launchMenu()" expand="block" fill="clear" shape="round">
                    <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
                </ion-button>
            </div>
        </ion-card-subtitle>
        <ion-card-title (click)="openArticle()">
            {{ article.title }}
        </ion-card-title>
    </ion-card-header>
    <ion-img *ngIf="article.urlToImage" [src]="article.urlToImage" (click)="openArticle()" class="animate__animated animate__fadeIn animate_fast"></ion-img>
    <ion-card-content>
        <p>{{ article.description }}</p>
    </ion-card-content>
</ion-card>