<ion-header [translucent]="true" no-border>
    <ion-toolbar color="dark">
        <ion-title> Headlines </ion-title>
    </ion-toolbar>
    <ion-segment scrollable mode="md" color="primary" (ionChange)="changeCategory($event)">
        <ion-segment-button [value]="cat" mode="md" *ngFor="let cat of categories">
            <ion-label text-capitalize>{{ cat }}</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
    <app-news [news]="news"></app-news>
    <ion-infinite-scroll threshold="150px%" position="bottom" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more news...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>